<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:cxf="http://cxf.apache.org/core"
       xsi:schemaLocation="http://cxf.apache.org/core
       http://cxf.apache.org/schemas/core.xsd
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://cxf.apache.org/jaxws
       http://cxf.apache.org/schemas/jaxws.xsd"
       xmlns:jaxws="http://cxf.apache.org/jaxws">

    <!--拦截器-->
    <bean id="LicenseInterceptor" class="com.slk.web.framework.Interceptor.AccessIntercept.LicenseInterceptor"/>

    <cxf:bus>
        <cxf:inInterceptors>
            <ref bean="LicenseInterceptor"/>
        </cxf:inInterceptors>
    </cxf:bus>

    <import resource="classpath:META-INF/cxf/cxf.xml" />


    <jaxws:endpoint implementor="com.slk.web.webservice.Test.TestWsImpl" address="/Test" /><!--测试webservice-->


</beans>